.container {
    padding: 5px;
    width: 400px;
    background-color: #ddd;

}

.btns {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px;
}

.btn {
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    margin: 0;
    text-align: center;
    border: 1px solid lightgray;
    box-shadow: 1px 1px #999;

}

.res {
    background-color: lightgray;
    border: 1px solid black;
    height: 48px;
    font-size: 20px;
}

.digits {
    background-color: lightgreen;
    color: brown;
}

.controlRes {
    background-color: darkgreen;
    color: white;
}

.operands {
    background-color: black;
    color: red;
}